<!-- toolbar.component.html -->
<div class="toolbar-container">
    <!-- Search -->
    <!-- <div class="search-wrapper">
      <div class="search-icon">
        🔍
      </div>
      <input
        type="text"
        class="search-input"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange()"
      />
    </div> -->
    
    <div class="search-container">
      <div class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </div>
      <input 
        type="text" 
        placeholder="Search..." 
        class="search-input"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange()"
       >
    </div>

    <!-- Actions -->
    <div class="actions-wrapper">
      <button class="icon-button" (click)="onLock()">🔒</button>
      <button class="icon-button" (click)="onSelectAll()">☑️</button>
      <button class="icon-button" (click)="onView()">📄</button>
      <button class="icon-button" (click)="onPrint()">🖨️</button>
      <button class="icon-button" (click)="onDelete()">🗑️</button>
    </div>
  
    <!-- Filters -->
    <div class="filters-wrapper">
      <select [(ngModel)]="selectedTime" (change)="onTimeChange()">
        <option>This Month</option>
        <option>Last Month</option>
        <option>This Year</option>
      </select>
  
      <select [(ngModel)]="selectedType" (change)="onTypeChange()">
        <option>Documents</option>
        <option>PDF</option>
        <option>Images</option>
      </select>
    </div>
  
    <!-- Add -->
    <div class="add-wrapper">
      <button mat-button color="primary" (click)="onAdd()">➕</button>
    </div>
  </div>
  