<div class="sidebar">
    <div class="logo-container">
      <h2 class="company-name">G5MS</h2>
    </div>
  
    <nav class="nav-menu">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/dashboard">
            <lucide-angular [img]="LayoutDashboard" class="icon"></lucide-angular>
            <span>Dashboard</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/documents">
            <lucide-angular [img]="FileText" class="icon"></lucide-angular>
            <span>Documents</span>
          </a>
        </li>
      </ul>
    </nav>
  
    <div class="signout-button">
      <a (click)="onSignOut()" routerLink="/sign-in">
        <lucide-angular [img]="LogOut" class="icon"></lucide-angular>
        <span>Sign Out</span>
      </a>
    </div>
  </div>
  