.full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  mat-dialog-actions {
    margin-top: 20px;
    justify-content: flex-end;
  }
  