<h1 class="page-title">Users Dashboard</h1>
<!-- <app-toolsbar-dashboard (addUser)="onUserAdded($event)"   (userChanged)="onUserChanged($event)"></app-toolsbar-dashboard> -->
<app-toolsbar-dashboard (addUser)="onUserAdded($event)"></app-toolsbar-dashboard>

<div class="users-list-container">
    <h2 class="list-title">List Users</h2>
    <div class="table-container">
      <p>Total users: {{ users.length }}</p>
      <pre>{{ users | json }}</pre>
      <table class="users-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Create Date</th>
            <th>Role</th>
            <th class="action-column">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" class="user-row">
            <td class="user-info">
              <div class="user-name">{{ user.name }}</div>
              <div class="user-email">{{ user.email }}</div>
            </td>
            <td>{{ user.createdAt }}</td>
            <td>
              <span
          class="badge"  [ngClass]="getBadgeColor(user.role)">
          {{ user.role?.name  || 'No Role' }}
              </span>
            </td>
            <td class="action-buttons">
              <button class="edit-button" (click)="editUser(user)" title="Edit">✏️</button>
              <button class="delete-button" (click)="deleteUser(user)" title="Delete">🗑️</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
